* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-image: url(mark72.webp);
}
.header {
    background-color: ghostwhite;
    height: 5vh;
    /* width: 40%; */
    text-align: center;
    margin-top: 8px;
    padding: 0.5em;
    font-size: 30px;
    font-family: cursive;
    font-weight: 700;
}



.container1, .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.textInput {
    height: 20vh;
    background-color: lightgray;
    margin: 1em;
    padding: 1em;
    display: block;
    width: 50%;
    font-size: 20px;
    font-family: cursive;
}

.btn{
    margin: 20px;
    padding: 0.9em;
    border-radius: 8px;
    font-size: large;
    background-color: ghostwhite;
    font-weight: 600;   
    letter-spacing: 1px;

}

.instruction {
    font-size: 25px;
    font-weight: bold;
    background-color: lightgray;
    height: 5vh;
    width: 40%;
    text-align: center;
    padding: 0.7em;

}

.output {
    height: 20vh;
    width: 50%;
    border: 3px, solid, black;
    background-color: lightgray;
    margin: 2em;
    padding: 1em;
    font-size: 18px;
    font-family: cursive;
}